  body {
    background-color: #101c1c;
  }

  .h1-acercadenosotros {
    font-family: 'Prata', serif;
  }

  .card-acercadenosotros-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #dccbb9;
    margin-left: 35px;
    margin-right: 35px;
  }
  
  .card-acercadenosotros {
    margin: 10px;
    padding: 20px;
    text-align: center;
    border: 3px solid #101c1c;
    background-color: #ffff;
    font-family: 'Cinzel Decorative', cursive;
    box-sizing: border-box;
    height: 550px;
    width: 250px;
  }
  
  .card-acercadenosotros img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    
  }
  
  .card-acercadenosotros h2 {
    margin-bottom: 10px;
    
  }
  
  @media all and (min-width: 577px) and (max-width: 991px) {
    .card-container {
      flex-direction: column;
    }
  }
  
  /*Grandes*/
  @media all and (min-width: 991px) {
    
  }