/*Dispositivo Chico*/
@media all and (max-width: 576px) {
  .titulo-error {
    font-family: "Cinzel Decorative", cursive;
    font-size: 75px;
 
  }
  .texto-general-error {
    font-family: "Prata", serif;
    font-size: 55px;
  }
  .btn-error {
    font-family: "Prata", serif;
    font-size: 35px;
    color: #ffffff;
    border-color:#101c1c ;
    background-color: #101c1c;
  }
}
/*Dispositivo Mediano*/
@media all and (min-width: 577px) and (max-width: 991px) {
  .titulo-error {
    font-family: "Cinzel Decorative", cursive;
  font-size: 95px;
  text-shadow: 1px 1px 1px black;
  
  }
  .texto-general-error {
    font-family: "Prata", serif;
    font-size: 35px;
    
  
  }
  .btn-error {
    font-family: "Prata", serif;
    font-size: 30px;
    color: #ffffff;
    border-color:#101c1c ;
    background-color: #101c1c;
    transition: background-color 0.4s ease-out;
    
  }
  .btn-error:hover {
    background-color: #dccbb9;
    border-color: #dccbb9 ;
  
    
  }
}

.titulo-error {
  font-family: "Cinzel Decorative", cursive;
font-size: 95px;
text-shadow: 1px 1px 1px black;

}
.texto-general-error {
  font-family: "Prata", serif;
  font-size: 35px;
  

}
.btn-error {
  font-family: "Prata", serif;
  font-size: 30px;
  color: #ffffff;
  border-color:#101c1c ;
  background-color: #101c1c;
  transition: background-color 0.4s ease-out;
  
}
.btn-error:hover {
  background-color: #dccbb9;
  border-color: #dccbb9 ;

  
}