.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }

  body{
    background-color: white;
  }

  .card-imagen-detalles {
    justify-content: center;
    align-items: center;
    min-width: 550px;
    min-height: 850px;
    object-fit: cover;
  }

  .card-texto{
    word-wrap: break-word;
  }

  