.color-fondo-principal {
    background-color: #ffffff;
}

.carousel-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 30ch 60px 30ch;
    font-family: "Cinzel Decorative", cursive;

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}

.imagenes-carousel-principal {

    align-items: center;
    justify-content: center;
    max-height: 50ch;
    width: 180ch;
    object-fit: cover;
}

.carousel-titulo-principal {
    text-shadow: 3px 3px 3px black;
    font-size: 70px;
}

.section-productos-principal {
    margin: 60px 40ch 60px 40ch;
    padding: 60px 0ch 60px 0ch;
    position: relative;
    isolation: isolate;
    background: #dccbb9;
    border-radius: 10px;
    border: 8px solid #1c443d;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-principal {
    font-family: "Prata", serif;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 5px solid #1c443d;
}

.card-titulo-principal {
    font-family: "Cinzel Decorative", cursive;
    font-size: 20px;
    font-weight: 600;
}

.cards-productos-principales {
    padding: 5px;
    border-radius: 6px;
    border: 5px solid #1c443d;
    border-color: #1c443d;
    background-color: #1c443d;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}
.card-boton-principal {
    
    font-family: "Prata", serif;
    font-size: 20px;
    color: #ffffff;
    border-color: #1c443d;
    background-color: #1c443d;
}

.card-boton-principal:hover {
    border-color: #1c443d;
    background-color: #1c443d;
}

.titulos-principal {
    font-family: "Cinzel Decorative", cursive;
    font-size: 50px;
    margin-bottom: 15px;
}

.contenedor-productos-principal {
    padding: 4ch 8ch 0px 8ch;
}

.subtitulos-principal {
    font-family: "Cinzel Decorative", cursive;
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.contenedor-menu {
    justify-content: space-evenly;
    grid-auto-flow: row dense;
}

.card-productos {
    width: 25rem;
    height: 25rem;
    font-family: "Prata", serif;
    padding: 5px;
    margin: 10px;
    border: 4px solid #1c443d;
    border-radius: 10px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;

}

.card-productos-titulo {
    font-size: 35px;
}

.card-productos-etiqueta {
    font-size: 18px;
    margin-left: 1.2rem;
}

.card-productos-precio {
    font-size: 18px;
}

.card-productos-descripcion {
    font-size: 18px;
}

.layout-botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}


.card-productos-boton {
    font-size: 18px;
    color: #ffffff;
    background-color: #1c443d;
    border-radius: 8px;
    padding: 8px;
    border-color: #1c443d;
}
.card-productos-boton-sabermas {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #ffffff;
    background-color: #1c443d;
    border-radius: 8px;
    padding: 8px;
    border-color: #1c443d;
}

.card-productos-boton:hover {
    background-color: #1c443d;
}


.layout-card-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffffff;
    height: 100px;
    width: 450px;
    border: 4px solid #1c443d;
    border-radius: 10px;
    margin: 10px;

}

/*Dispositivo Chico*/
@media all and (max-width: 576px) {
    .carousel-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px;
    }

    .imagenes-carousel-principal {
        max-height: 30ch;
        width: 100%;
        object-fit: cover;
    }

    .carousel-titulo-principal {
        text-shadow: 3px 3px 3px black;
        font-size: 35px;
    }

    .carousel-titulo-principal {
        text-align: center;
    }

    .section-productos-principal {
        margin: 15px;
    }

    .card-principal {
        text-align: center;
        font-size: 16px;
    }

    .imagen-dispositivo-chico {
        display: none;
    }

    .titulos-principal {
        text-align: center;
    }

    .subtitulos-principal {
        text-align: center;
    }

    .contenedor-productos-principal {
        padding: 0ch 2.5ch 0px 2.5ch;
    }

    .card-productos {
        text-align: center;
        width: 28rem;
        height: 32rem;
        font-family: "Prata", serif;
        padding: 5px;
        margin: 5px;
        border: 4px solid #1c443d;
        border-radius: 10px;
        background-color: #ffffff;
        align-items: center;
        justify-content: center;
    }

    .card-productos-etiqueta {
        font-size: 17px;
        margin: 2px;
    }

    .card-productos-boton {
        margin: 5px;
        font-size: 18px;
        color: #ffffff;
        background-color: #1c443d;
        border-radius: 8px;
        padding: 5px;
        border-color: #1c443d;
    }
}

/*Dispositivo Mediano*/
@media all and (min-width: 577px) and (max-width: 991px) {
    .carousel-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .imagenes-carousel-principal {
        max-height: 35ch;
        width: 100%;
        object-fit: cover;
    }

    .carousel-titulo-principal {
        text-align: center;
    }


    .section-productos-principal {
        margin: 60px 3ch 60px 3ch;
        padding: 30px 0ch 30px 0ch;
        position: relative;
        isolation: isolate;
        background: #dccbb9;
        border-radius: 10px;
        border: 8px solid #1c443d;
    }

    .card-titulo-principal {
        font-size: 25px;
    }

    .card-principal {
        text-align: center;
        font-size: 18px;
    }

    .imagen-dispositivo-chico {
        display: none;
    }

    .titulos-principal {
        margin-top: 10px;
        font-size: 40px;
        text-align: center;
    }

    .subtitulos-principal {
        text-align: center;
        font-size: 35px;
    }

    .contenedor-menu {
        padding: 0px;
        margin: 0px;
    }

    .contenedor-productos-principal {
        padding: 2ch 2ch 0px 2ch;
    }

    .card-productos {
        text-align: center;
        width: calc(45% - 30px);
        height: 30rem;
        font-family: "Prata", serif;
        padding: 5px;
        margin: 5px;
        border: 4px solid #1c443d;
        border-radius: 10px;
        background-color: #ffffff;
        flex-direction: row;

       flex-grow: 2;
    }

    .card-productos-etiqueta {
        font-size: 17px;
        margin-left: 1ch;
    }

    .card-productos-boton {
        margin: 5px;
        font-size: 18px;
        color: #ffffff;
        background-color: #1c443d;
        border-radius: 8px;
        padding: 8px;
        border-color: #1c443d;
    }
}