.color-fondo-principal {
    background-color: #ffffff;
}

.carousel-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 185px 60px 185px;
    font-family: "Cinzel Decorative", cursive;

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

}

.imagenes-carousel-principal {
    align-items: center;
    justify-content: center;
    height: 60ch;
    width: 180ch;
    object-fit: cover;
}

.carousel-titulo-principal {
    text-shadow: 3px 3px 3px black;
    font-size: 70px;
}

.section-productos-principal {
    margin: 60px 40ch 60px 40ch;
    padding: 60px 0ch 60px 0ch;
    position: relative;
    isolation: isolate;
    background: #dccbb9;
    border-radius: 10px;
    border: 8px solid #101c1c;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-principal {

    font-family: "Prata", serif;
    font-size: 18px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    border: 5px solid #101c1c;
}

.card-titulo-principal {
    font-family: "Cinzel Decorative", cursive;
    font-size: 20px;
    font-weight: 600;
}

.card-boton-principal {
    font-family: "Prata", serif;
    font-size: 20px;
    color: #ffffff;
    border-color: #101c1c;
    background-color: #101c1c;
}

.card-boton-principal:hover {
    border-color: #101c1c;
    background-color: #101c1c;
}

.titulos-principal {
    font-family: "Cinzel Decorative", cursive;
    font-size: 50;
    margin-bottom: 15px;
}

.contenedor-productos-principal {
    padding: 4ch 8ch 0px 8ch;
}

.subtitulos-principal {
    font-family: "Cinzel Decorative", cursive;
    font-size: 35;
    margin-bottom: 15px;
    margin-top: 30px;
}

.card-productos{
    width: 23rem;
    height: 15rem;
    font-family: "Prata", serif;
    padding: 5px;
    margin: 10px;
    border: 4px solid #101c1c;
    border-radius: 10px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}
.card-productos-titulo{
    font-size: 37px;
 
}

.card-productos-etiqueta{
font-size: 18px;
margin-left: 1.2rem;
}
.card-productos-precio{
    font-size: 18px;
}
.card-productos-descripcion{
    font-size: 20px;
}

.layout-botones {
    display: flex;
    justify-content: space-around;
    gap: 2px;
}
.card-productos-boton{
    font-size: 18px;
    color: #ffffff;
    background-color: #101c1c;
    border-radius: 8px;
    padding: 8px;
    border-color: #101c1c;
}
.card-productos-boton:hover{
    background-color: #101c1c;
}

/*
.layout-productos {
    display: flex;
    flex-wrap: wrap;

}

.card-productos {
    width: 400px;
    height: 175px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);


    font-family: "Prata", serif;
    padding: 8px;
    margin: 10px;
    border: 4px solid #101c1c;
    border-radius: 10px;
    background-color: #ffffff;
}

.card-productos-titulo {
    font-size: 30px;
}

.layout-card-productos {
    font-family: "Prata", serif;
    padding: 8px;
    margin: 10px;
    border: 4px solid #101c1c;
    border-radius: 10px;
    background-color: #ffffff;
    width: 25%;
    max-height: 150px;

    display: grid;
    grid:
        "Titulo Precio" 1fr "Etiqueta Carrito" 1fr / 1fr 1fr;
    gap: 8px;
    grid-auto-flow: row dense;
    position: relative;
    justify-content: space-evenly;
    align-content: space-evenly;
}


.titulo-producto {
    grid-area: Titulo;
}

.descripcion-producto {
    height: 50px;
    grid-area: Descripcion-producto;
}

.Etiqueta {
    grid-area: Etiqueta;
}

.Precio {
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    grid-area: Precio;
}

.Carrito {
    grid-area: Carrito;
}
*/
.layout-card-productos{
display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffffff;
    height: 100px;
    width: 450px;
    border: 4px solid #101c1c;
    border-radius: 10px;
    margin: 10px;

}

/*Dispositivo Chico*/
@media all and (max-width: 576px) {}

/*Dispositivo Mediano*/
@media all and (min-width: 577px) and (max-width: 991px) {}