body {
  font-family: "Prata", serif;
}

.card-pedidos-container {
  background-color: #dccbb9;
}

.pago-container {
  background-color: #dccbb9;
}

.pago-texto {
  font-family: "Prata", serif;
  padding-top: 15px;
}

.contenedor-principal {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contenedor-footer {
  margin-top: auto;
}

@media all and (min-width: 577px) and (max-width: 991px) {
  .card-container {
    flex-direction: column;
  }
}

@media all and (min-width: 991px) {
}
