.titulo {
  font-family: "Cinzel Decorative", cursive;
  background-color: #1c443d;
  color: #ffffff;
}

.texto_general {
  font-family: "Prata", serif;
  background-color: #dccbb9;
}



.botonIngresar {
  background-color: #205249;
  border: #dccbb9;
}

.botonIngresar:hover {
  background-color: #a08070;
}



.botonesIconos {
  color: #205249;
  background-color: #dccbb9;
  border: none;
}
.botonesIconos:hover {
  background-color: #a08070;
  color: #fff;
}



input[type="email"],
input[type="text"],
input[type="password"] {
  height: 6vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.contenedor {
  position: relative;
  width: 500px;
  height: 300px;
}

.bordeLogo{
  background-color: #205249;
}




@media (min-width: 768px) {

  .mainSection {
    height: auto;
    width: 50%;
  }

  .tituloPagina {
    color: #ffebaf;
    font-family: "Cinzel Decorative", cursive;
    font-size: 20px;
    -webkit-text-stroke: 0.5px black;
    
  }

}


@media (max-width: 767px) {

  .mainSection {
    height: auto;
    width: 100%;
  }

  .tituloPagina {
    color: #ffebaf;
    font-family: "Cinzel Decorative", cursive;
    font-size: 20px;
    -webkit-text-stroke: 0.5px black;
    
  }

}
