.footer-estilo {
  background-color: #066253;
  font-family: "Prata", serif;
}

.titulo-footer:hover {
  color: #ffebaf;
  transition: 0.3s;
}

.h6-footer {
  color: #dccbb9;
}

.color {
  color: #ffffff;
}

.enlaces:hover {
  color: #ffebaf;
}
